### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(40)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
30,30,Idai61,19,Male,140,Striker,2.94
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38
34,34,Sondim73,19,Male,160,Azurewrath,4.40
35,35,Jeyciman68,22,Male,53,Vengeance Cleaver,2.05
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
39,39,Sondilsaya62,21,Male,172,Blade of the Grave,3.14

## Player Count

* Display the total number of players

In [2]:
TotRows = purchase_data["Price"].count()
print ("Total rows = ", TotRows)
print(" ")
TotPlayers = len(purchase_data["SN"].value_counts())
print ("Total Players = ", TotPlayers)

Total rows =  780

Total Players =  576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
UniqItms = len(purchase_data["Item ID"].value_counts())
AvePrc = purchase_data["Price"].mean()
ItemsPurch = purchase_data["Price"].count()
TotRev = purchase_data["Price"].sum()
#
print (
    f" UniqItms= {UniqItms} AvePrc= ${AvePrc:,.2f} ItemsPurch= {ItemsPurch}  TotRev= ${TotRev:,.2f} "
      )
# Convert the summary data into a DataFrame
SummaryData_df = pd.DataFrame({"Number of Unique Items":[UniqItms],
                               "Average Price":[AvePrc],
                               "Number of Purchases":[ItemsPurch],
                               "Total Revenue":[TotRev]
                              })
SummaryData_df.head()

 UniqItms= 183 AvePrc= $3.05 ItemsPurch= 780  TotRev= $2,379.77

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players
purchase_data["Gender" = "Male"].count()

* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:

CntMale = purchase_data["Gender"].value_counts()['Male']
CntFemale = purchase_data["Gender"].value_counts()['Female']
CntOther = purchase_data["Gender"].value_counts()['Other / Non-Disclosed']
CntTot = CntMale + CntFemale + CntOther
print(
    f" Total: {CntTot}\n Male: {CntMale}\n Female: {CntFemale}\n Non_specfic: {CntOther}")
print(" ")
PctMale = (CntMale / CntTot) * 100
PctFemale = (CntFemale / CntTot) * 100
PctOther = (CntOther / CntTot) * 100
print(
    f" % Male: {PctMale}\n % Female: {PctFemale}\n % Non_specifc: {PctOther}")

 Total: 780
 Male: 652
 Female: 113
 Non_specfic: 15

 % Male: 83.58974358974359
 % Female: 14.487179487179489
 % Non_specifc: 1.9230769230769231


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
OnlyMale = purchase_data.loc[purchase_data["Gender"] == "Male", :] 
SumMale = OnlyMale["Price"].sum()
AveMale = OnlyMale["Price"].mean()
CntMaleSN = len(OnlyMale["SN"].unique())
AvePerMale = SumMale/CntMaleSN
print(
    f" Male Total: {CntMale}\n Male AvePrice: ${AveMale:,.2f}\n Male TotPrice: ${SumMale:,.2f}\n Male AvePerPerson: ${AvePerMale:,.2f}")
print(" ")
OnlyFemale = purchase_data.loc[purchase_data["Gender"] == "Female", :] 
SumFemale = OnlyFemale["Price"].sum()
AveFemale = OnlyFemale["Price"].mean()
CntFemaleSN = len(OnlyFemale["SN"].unique())
AvePerFemale = SumFemale/CntFemaleSN
print(
    f" Female Total: {CntFemale}\n Female AvePrice: ${AveFemale:,.2f}\n Female TotPrice: ${SumFemale:,.2f}\n Female AvePerPerson: ${AvePerFemale:,.2f}")
print(" ")
OnlyOth = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :] 
SumOth = OnlyOth["Price"].sum()
AveOth = OnlyOth["Price"].mean()
CntOthSN = len(OnlyOth["SN"].unique())
AvePerOth = SumOth/CntOthSN
print(
    f" Other Total: {CntOther}\n Other AvePrice: ${AveOth:,.2f}\n Other TotPrice: ${SumOth:,.2f}\n Other AvePerPerson: ${AvePerOth:,.2f}")
print(" ")
# Create a new frame consolodating above calculations

# Creating a Pandas DataFrame by passing in a LIST OF DICTIONARIES
# Each value in the list is a dictionary
# Imagine that each dictionary represents a row of data in our eventual purchase count, avg. purchase price, avg. purchase total per persontaframe
# Each dictionary should have the same keys, since these keys dictate the column headers of our dataframe
#                        purchase count, avg. purchase price, avg. purchase total per person
my_list = [{"Gender": "Male", "Purchase Count": CntMale, "Average Price Paid": AveMale, "Total Purchase Value": SumMale, "Average Purchase PerPerson": AvePerMale},
           {"Gender": "Female", "Purchase Count": CntFemale, "Average Price Paid": AveFemale, "Total Purchase Value": SumFemale, "Average Purchase PerPerson": AvePerFemale},
           {"Gender": "Other / Non-Disclosed", "Purchase Count": CntOther, "Average Price Paid": AveOth, "Total Purchase Value": SumOth, "Average Purchase PerPerson": AvePerOth}]
ConsolPdDf = pd.DataFrame(my_list)
ConsolPdDf

 Male Total: 652
 Male AvePrice: $3.02
 Male TotPrice: $1,967.64
 Male AvePerPerson: $4.07

 Female Total: 113
 Female AvePrice: $3.20
 Female TotPrice: $361.94
 Female AvePerPerson: $4.47

 Other Total: 15
 Other AvePrice: $3.35
 Other TotPrice: $50.19
 Other AvePerPerson: $4.56

,Gender,Purchase Count,Average Price Paid,Total Purchase Value,Average Purchase PerPerson
0,Male,652,3.017853,1967.64,4.065372
1,Female,113,3.203009,361.94,4.468395
2,Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [74]:
purchase_data_pd = pd.DataFrame(purchase_data)

# ----ByPrchr_Data_pd is all the data I need including the purchasers with multiple items---
ByPrchr_Data_pd = purchase_data_pd.loc[:,['SN', 'Age', 'Item ID', 'Item Name', 'Price']]

ByPrchr_Price_df = ByPrchr_Data_pd.groupby(["SN"]).sum()["Price"]

# ----ByPrchr_Data_pd is all the data I need by purchasers without the summed price data---
ByPrchr_Uniq_pd = ByPrchr_Data_pd.drop_duplicates(subset='SN')
#      drop unneeded Price Column
ByPrchr_Uniq_pd = ByPrchr_Uniq_pd.drop(columns='Price')

# ----------------sort the uniq's by SN then append...
ByPrchr_UniqSorted_pd = ByPrchr_Uniq_pd.sort_values(by=['SN'])
# --------------------Merge two dataframes using an inner join
#  merge_table = pd.merge(_pd, _pd, on="")
ByPrchr_UniqSorted_pd = pd.merge(ByPrchr_UniqSorted_pd, ByPrchr_Price_df, on='SN')

In [75]:
# Create bins and bin labels for the age column
Aged_df = pd.DataFrame(ByPrchr_UniqSorted_pd,columns=["Age", "SN", "Price"])

Age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
Age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [76]:
# Bin the Age column
# cut() returns a Pandas Series containing each of the binned column's values 
#                                    translated into their corresponding bins
# We can append our bins to Aged_df
Aged_df["Level"] = pd.cut(Aged_df["Age"], Age_bins, labels=Age_labels)

In [77]:
#   Group the Aged data by the Age Level we've created...

# group the purchasers by count of purchases
grouped_AgedByLvlCnt_df = Aged_df.groupby(["Level"]).count()['SN']
grouped_AgedByLvlDol_df = Aged_df.groupby(["Level"]).sum()['Price']
grouped_AgedByLvlCPct_df = grouped_AgedByLvlCnt_df / TotPlayers

# Merge the tables 
ByPrchr_UniqSortedCompl_pd = pd.merge(grouped_AgedByLvlCnt_df, grouped_AgedByLvlCPct_df, on='Level')

# rename the columns
ByPrchrRen_pd = ByPrchr_UniqSortedCompl_pd.rename(columns={"SN_x":"Total Count", "SN_y":"Percentage of Players"})
ByPrchrRen_pd.style.format({'Total Count': "{:.0f}",'Percentage of Players': "{:.2%}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [69]:
# ----these values are accumulated by Age Level without regard to purchaser  -----
RawPurch_pd = pd.DataFrame(purchase_data)
RawAged_data_pd = RawPurch_pd
RawAged_data_pd["Level"] = pd.cut(RawPurch_pd["Age"], Age_bins, labels=Age_labels)
# -------------------------------------------Purchase Count
grouped_RawAgedCnt_pd = pd.DataFrame(RawAged_data_pd.groupby(["Level"]).count()['Item ID'])
grouped_RawAgedCnt = RawAged_data_pd.groupby(["Level"]).count()['Item ID']

# group the purchasers by age level ----------Total Purchase Value
grouped_RawAgedDol_pd = pd.DataFrame(RawAged_data_pd.groupby(["Level"]).sum()['Price'])
grouped_RawAgedDol = RawAged_data_pd.groupby(["Level"]).sum()['Price']

# ---------------------------------------------Average Purchase Price
grouped_RawAgedAve_pd = pd.DataFrame(grouped_RawAgedDol / grouped_RawAgedCnt)

# ---------------------------------------------Avg Total Purchase per Person
grouped_AgedByLvlPrctg_pd = pd.DataFrame(grouped_AgedByLvlDol_df / grouped_AgedByLvlCnt_df)

# Merge the tables 
grouped_RawCompl_pd = pd.DataFrame() #=========creates a new dataframe that's empty
grouped_RawCompl_pd = pd.merge(grouped_RawAgedCnt_pd, grouped_RawAgedAve_pd, on='Level')
grouped_RawCompl_pd = pd.merge(grouped_RawCompl_pd, TotRawAgedDol_pd, on='Level')
grouped_RawCompl_pd = pd.merge(grouped_RawCompl_pd, TotAgedByLvlPrctg_pd, on='Level')

grouped_RawCompl_pd = grouped_RawCompl_pd.rename(columns={"Item ID":"Purchase Count"})
grouped_RawCompl_pd = grouped_RawCompl_pd.rename(columns={"0_x":"Average Purchase Price"})
grouped_RawCompl_pd = grouped_RawCompl_pd.rename(columns={"Price":"Total Purchase Value"})
grouped_RawCompl_pd = grouped_RawCompl_pd.rename(columns={"0_y":"Avg Total Purchase per Person"})

grouped_RawCompl_pd.style.format({'Average Purchase Price': "${:.2f}",
                                  'Total Purchase Value': "${:.2f}",
                                  'Avg Total Purchase per Person': "${:.2f}"
                                 })

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
#purchase_data
print (purchase_data)

UniqPurchasers = len(purchase_data["SN"].unique())
print (UniqPurchasers)

#
TopPurch = purchase_data
#TopSpndrs = purchase_data(purchase_data["SN"].unique().count() > 2)

# To sort from highest to lowest, ascending=False must be passed in
#TopPurch = purchase_data.sort_values("SN", ascending=False)
TopPurch = purchase_data.drop(["Purchase ID","Age","Gender","Item ID","Item Name","Level"], axis=1)

TopPurch = TopPurch.set_index("SN")
TopPurch = TopPurch.sort_values("SN")
print (TopPurch)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame